.header {
    background-color: darkkhaki;
    padding: 1in;
    margin: 5rem;
    border: 3mm;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.2),
        0 25px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    background-color: saddlebrown;
}
